{% extends '_post.html' %}
{% block meta %}
  title: "2010 НГ"
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Следующий год наступил.

Встретили мы его на ура - был праздник по всем канонам жанра - праздник живота и чистоты мозга. По возможности были соблюдены вся аттрибутика - кусочек елки (спилили маленькую веточку), обязательная помывка в бане, куча салатов, шампанское, много горячительных напитков, фаршированный гусь, стрельба из фейверка, телевизор и куранты. Большая праздников была проведена без интернета, т.к. были мы у родителей жены, т.к. погорел блок питания на местном ноуте, т.к. вообще нужно было отдохнуть от него. Пару раз требовалось проверить почту - долго с матами вводили 20+ длины пароли на моем телефоне - это да. Блок питания все таки спаяли где-то 4го числа, но в интернет мы так и не вылезли.

Отдельным пунктом я отмечу нашу историю путешествия до родителей. Из Новосибирска в Кемеровскую область есть несколько типов транспорта: 
# поезда проходящие через нужные нам станции 
# ускоренная электричка 
# обычные электрички идущие по полдня 
# обычные электрички с пересадками 
# автобус или такси. 

Условия задачи - за бортом -30-40 градусов цельсия, время самый конец декабря - начало января, предпразничные и праздничные дни. Хотелось бы вручить аллюминиевый фалоимитатор с гравировкой *За идею года* тому оптимизатору который придумал посчитать прибыльность локальных электричек и *поотменять большую часть маршрутов* в праздничные дни, а некоторые маршруты и вовсе закрыть. В итоге - мы с матами, проклятьями, и прочими плохими весчами добирались за ненормально большие деньги на обычных поездах. Прикол еще вот в чем был - отменить то некоторые маршруты отменили, а вот не всем кассирам про это видать сказали. В итоге некоторым людям продавали билеты на отсутствующие электрички. А некоторые узнавали об инновациях в человеко-перевозках только непосредственно на вокзале перед кассой.

В остаточное время теперь подготавливаю ритуал изгнания windows ну и серфю интернет, наконец-то.

{% endfilter %}
{% endblock %}
