{% extends '_post.html' %}
{% block meta %}
  title: "23 января"
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

[01:13:17] Victor: про камиля рассказывал? :)
[01:13:23] Alexey: неа
[01:13:39] Alexey: че там с бассурманом?
[01:14:00] Alexey: все окей?
[01:14:13] Victor: да )
[01:14:20] Victor: ему приснился сон )
[01:14:35] Victor: что он бомбу смастерил :)
[01:15:10] Alexey: ипать... нас заметут в Гуантенамимо как его знакомых!!
[01:15:37] Victor: ну типа во сне его фсб обложили
[01:15:43] Victor: а он не расскалывался
[01:15:52] Victor: и они из контакта инфу достали
[01:15:56] Victor: по нему :)
[01:16:01] Victor: на следующий день как проснулся
[01:16:05] Victor: всё инфу удалил :)
[01:16:19] Victor: и смайлик вместо фотки поставил )

{% endfilter %}
{% endblock %}
