{% extends '_post.html' %}
{% block meta %}
  title: "22 января"
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

"Пятница, которая была не пятницей" - это такой день в трудовой неделе, когда завтра на работу. Бывает и такое, что-то там мы должны отработать, что-то что проотдыхали в начале января. Народ собирался погамать в покер, но был послан в известном направлении - "всему свое время, амиги" - завтра будет наше собственное казино, с пивом и шашлыком. Да я охуел, домой с работы добираюсь на таксо. По минус тридцати, по скользким блестящим улицам? Это не для нас. Хорошо хоть цены на сей транспорт приемлемые, Академгородок-на. Включил себе МуммиТролля ("..такую серую и нежную зимУ.."), размораживаются куриные крылышки, греется сковорода, в высоком бокале холодное, свежее, разливное темное пивко, читаю интернет. Сам себе хозяин и бог. Душевно-на. Хорошо. На завтра большие планы по поводу развлечений, но и сегодня можно отдохнуть :)

Насяльника где-то услышал шутку и рассказал на неделе - "загадка: Третий день не хочется работать. Что это?"

"Степень оригинальности персонажа прямопропорционально зависит от количества пива выпитого за его создание". Не помню кто именно, но точно это было сказано про гейм-дев. Уважаю

{% endfilter %}
{% endblock %}
