{% extends '_post.html' %}
{% meta %}
  title: "30 января "
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

С утра разминился в решении дифуров - мелкий зачет сдавал. Потом в два захода ходил в магазы, основная цель была еда, особая. В общем, затарился на неделю вперед, а может быть и больше. Много чего интересного. Жду приготовления термоядерных-мега-сарделек-в-тесте. В основе лежит "рецепт":http://kuking.net/my/viewalbum.php?a=57. После долгих раздумий выбор пал на "сардельки для завтрака", в общем сейчас их и дожидаюсь, попивая прелестное разливное пиво. Уже почти готовы. То есть готовы и изъяты из печи, но пока еще очень горячие. Подождемс. Про вчера - на то она и пятница - усталости не было предела, хотелось (а точне было необходимо) устроить позитивный отдых. Хотя и в покер мне не везло, как пресловутому Томми, но игра была полна азарта и веселья, так что я вполне удовлетворился.

{% endfilter %}
{% endblock %}
