{% extends '_post.html' %}
{% block meta %}
  title: "4 февраля "
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Не люблю промежутки времени, когда сидишь ничего не делаешь, но знаешь что вот-вот чего-то произойдет и будешь ну просто насмерть занят. От таких моментов тупеешь, так как ничем новым не займешься т.к. думаешь что не имеет смысла (все равно как только наступит час ха и прийдется бросить начинание). Это не имеет отношения к лени, это состояние взведенного бойка. Что делать и как с этим бороться. Увы, я не знаю. Хотелось бы придумать.

Утром видел толпу озябших корейцев. Очень они недооценили сибирскую зиму. Нужно быть хотя бы чуть-чуть предусмотрительными. А то так и отморозить можно что-нить.

В файерфоксе 3.6 по-умолчанию теперь есть мега весчь - клик средней клавишей на линку открывает страничку в новом соседнем табике (раньше открывалась в конце списка). Для получения такого эффекта до этого я использовал плагин Relative Tabs, теперь он не нужен. Приятно.

Еще раз убедился, разделитель дробной части запятая/точка в зависимости от текущей локали является очень частым багом. Сегодня встретил такое в очень даже платном софте.

И напоследок, понравилась "игрушка флешовая":http://www.kongregate.com/games/dannotjohn/record-tripping. Рекомендую.

{% endfilter %}
{% endblock %}
