{% extends '_post.html' %}
{% block meta %}
  title: "13 февраля "
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Так получилось, что сегодня день рождение моего компа (был куплен ровно год назад, тогда была пятница тринадцатое). Ну за тебя родимый (поднимаю бокал пива и улыбаюсь)!!!

Вчера была термоядерная пятница, в покер играл с переменным успехом, т.к. был вовлечен в дичайшую пьянку в другой комнате. Наверное всем в понедельник будет стыдно, нас будут ругать и тп. В общем закончилось все нормально, но, было всело, а в один момент было очень страшно.

Сегодня пришлось полдня проработать, работал из дома. Клиент завтра выходит в лив с нашим продуктом, так что нужно было кое-чего доделать и помочь ему в установке. Пока все идет успешно, один человек счастлив, а завтра будет счастливыми много-много людей. И не из-за дня St.Valintine-а, а из-за нашего горячо любимого продукта. Посмотрим, завтра утром - время ХА.

На данной неделе был отмечен необычайно большой уровень безделья, но в середине недели ситуация исправилась, появилось кое-что интересно в плане работы. В среду мне ударило в голову, что я просто не могу нормально работать без wireless-клавиатуры. Пошел и купил на работу самый простетский набор мышь+клава от logitec-а. Удобно-на. Теперь клавиатура почти не покидает моих колен, мне удобно и руки не напрягаются, запястья перестали болеть кстати.

Еще я так и не попедил камеру Microsoft VX1000 под линухом. Микрофон так и не работает. Забил на это и притащил с работы гарнитуру. Вот такое вот тривиальное решение проблемы.

{% endfilter %}
{% endblock %}
