{% extends '_post.html' %}
{% meta %}
  title: "14 марта "
  tags: [ life, music ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Очередной обзор того что я смотрю или посмотрел интересного

* "ТТ-34":http://www.youtube.com/watch?v=FTn7_6i1HSk - Пиздец про работу, про работу в корпорации, точно в цель, дикая музыка, дикие слова ("Все пиздец, ты попался!!"), а мульт-ряд просто термоядерный - зомби, мозги и тп, рекомендую заинтересованным
* "Кирпичи":http://www.youtube.com/watch?v=H47mOSU-U6s - работа-свобода ну блять если начал про работу, то без этой песенки никуда. Молодые кирпичи, это самый-самый кайф, ребята. "Работа - что может быть хуже?"
* "atb - 9pm (till i come)":http://www.youtube.com/watch?v=kl7ZIHNn5pw - грамотный драмэндбес. Как-то раз проснулся утром с некой мелодией на уме, часа 2 искал в домашней музыке, потом еще час на youtube - и нашел, именно то что представлял... конечно же не совсем то, но корреляция примерно +0.9
* "каста, встретимся у холодильника":http://www.youtube.com/watch?v=_NT1QnPTkz4 - не совсем каста, но все же. Заводная музыка, несколько прошедших дней слушаю первым треком с утра, бодрит нехило. Да и видеоряд клипа прикольный, не обычный, красивый и в тему.
* "Каста feat. DJ Хобот - Пусть мир прогнётся под нас":http://www.youtube.com/watch?v=wsTS6UoLUNI - кавер на макаревича. По моему довольно интересно.
* "Sigur Ros - Glósóli":http://www.youtube.com/watch?v=Bz8iEJeh26E - оказывается у моей любимой утренней песни есть клип, да еще какой! Слушать громко! Правда от этого клипа грустно становится, но все равно крутона! а что начинается на моменте 4:40 не передать словами
* "Ленинград - Полный Пиздец":http://www.youtube.com/watch?v=f_h7v6wXNnU - ну не могу не посмотреть этих мозговых паразитов, нравятся суки
* "I wanna be your dog":http://www.youtube.com/watch?v=hLnL61pglb8 - не оригинал, и даже не кавер. Но очень круто!

{% endfilter %}
{% endblock %}
