{% extends '_post.html' %}
{% block meta %}
  title: "19 марта "
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

только факты:

* если прийти на работу пораньше, то сделать можно все то что планировалось на день
* увы, не-чего-неделание не спасает от скуки, по этому скучно
* очень приятно работать в холодном и проветриваемом помещении
* писать длинные-пре-длинные письма легче коротких
* легче один раз сказать прямо "ты долбоеб" чем долго и замысловато говорить это псевдо-словами (и при этих речях есть вероятность что тебя не поймут)
* после фразы "ты долбоеб" и/или "че за хуйня", люди очень хорошо начинают слышать, видеть и понимать
* после того как человек сказал "давайте сделаем boost", я учетверил свой стек.. теперь думаю как это связано с моей любовью к boost-у
* пиво kozel темный в новой банке - приятно
* пиво на улице в -4 градуса цельсия - абсолютный кайф
* у магазина городок очень скользко, пока выпили по банке пива упало на спину ровно 4ре человека, помогали им подняться на ноги

{% endfilter %}
{% endblock %}
