{% extends '_post.html' %}
{% meta %}
  title: "27 марта "
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Наконец-то закончилас, эта ужасная рабочая неделя. Столько работать нельзя. В такой помойке работать нельзя. Позитива мало. В офисе ужасно душно, воняет, и громко кто-то пиздит. Перед окнами сидят нытики со слабым здоровьем. Когда нытики расходятся и наконец-то открывается окно, становится шикарно! Нос начинает чувствовать запахи, кожа перестает потеть, и почему-то больше никто не пиздит. Скорее всего потому что больше всего пиздят нытики и друзья нытиков. Самое ужасное то что и дети этих нытиков будут нытиками, и здоровье у них будет такое же. Собрать бы всех слабосильных нытиков офиса и захуячить битами. Запишу себе в план развития.

Хотя нет, был позитиф на неделе. Досталось поработать с directshow, как давно это было в последний раз. Немного не в стандартной постановке вопроса конечно же пришлось поработать, то есть не простая задача стояла. Сделал и был счастлив, как ребенок с пивом и рыбой.

А сегодня кончился интернет. Пришлось утром переть до терминала оплаты. Но в нем не светился значок "оплата интернета". И в другом тоже. После часовых поисков таки был найден терминал оплаты в котором все было окей. Счастье наступило.

На улице холодно дует ветер, растаявший в последние дни снег превратился в лед, все вокруг покрыто льдом. Скользко и холодно.

{% endfilter %}
{% endblock %}
