{% extends '_post.html' %}
{% meta %}
  title: "1 апреля "
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Сегодня у жены Оли день рождения! С праздником тебя моя радость!! Скоро к тебе приеду!!

Утром интернет-термометр провозгласил температуру +25 градусов. Беглый взгляд за окно подтвердил что это первоапрельский прикол.

А посреди дня пошел снег. Серьезно. Давно не видел падающего снега 1го апреля.

Проверил счет на интернете "Баланс Вашего счета: 66.66 руб.", подумал что это прикол, проверил по отчетам - правда, все сошлось. Теперь сижу и боюсь за свою жизнь и судьбу человечества ;)

Затолкал вечером еду в микроволновку, когда доставал обратно агрегат начал беспрерывно писчать. И это после того как я увидел "66.66". Паника. Честно ;) Вилку из розетки - и проблемы нету.

(улыбаюсь)

{% endfilter %}
{% endblock %}
