{% extends '_post.html' %}
{% block meta %}
  title: "17 апреля "
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

прошлая неделя была обозначена грандиозной пьянкой в прошлую субботу. мощно прошедшие мероприятия приклонили мое здоровье (еще бы - столько вискаря выжрать) не давали мне подняться половину прошедшего воскресения. потом, еле оторвавшись от постели, разговаривал с родственниками через скайп. они там бухали. и ко мне был первый вопрос "ты че там бухой?". веб-камера с говно-разрешением не смогла скрыть все мои ужастные страдания. или это родственная экстрасенсорика. в тот момент мне было срать. я хотел спать. а вот воспоминания от этого грандиозного похмелья были просто шикарными. но боевой дух спал, прямо наверное через первый час работы новой недели. началась обычная лабуда "я-тупой-у-кого-спросить-а-блять-не-у-кого-загугли-вот-говно-нету-ответа-значит-ищем-другой-подход-я-тупой-...". полное унылое говно.

еще большие неприятности состояли дальше - с паспортным столом. мало того что я гипотетически не переношу очереди: *ворваться с бензопилой в самую толпу и показать кто кому не прав*, тем более большую неприятность предоставляют пристарелые особои человека, у которых просто дохуя свободного времени, им такие монотонные и долгие процессы просто нравятся. в общем я не достоял очередь, ну наверное достоял бы по физическим и психологическим показателям, но внешний фактор оказался решающим. Вживить каждому человеку в мозг чип, который бы детонировал по достяжении 70 летнего возраста. и не было бы многих заебов.

окончательно заебало то что меня дергают по 5-10 минут на работе то туда, то сюда. завел себе time management - маленькую аппликуху, в которой выставляется задача, кнопка начать, кнопка закончить. сейчас пока работаю по ней в испытательных условиях, смотрю как удобно и как просче делать. думаю где-то в понедельник опробую ее в реальных условиях - то есть выставлю людям время на которое меня отвлекали. типа 18 минут туда-то, 12 минут сюда-то. и мне кажется после такого многие перестанут обращаться по пустяковым вопросам. в общем поживем увидим.

{% endfilter %}
{% endblock %}
