{% extends '_post.html' %}
{% block meta %}
  title: "2 мая "
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Что случилось за апрель месяц. И за последние пару дней.
Приобретение htc hero, давно хотел заполучить нормальный коммуникатор. И вот оно случилось, произошло. И оно того стоило. Фактически комп в кармане. Весь интернет, GPS, карты, плейер, записная книжка, ну и собственно телефон. Лично для меня большим плюсом является возможность подключения по wifi, зарядка по usb, ну и сам mini-usb. Не только не жалею, а очень рад этому приобретению.

Начал считать свои финансы, написал для себя маленький сайт, который направлен на ведение домашнего бюджета. Само написание сайта для меня оказалось маленьким развлечением, я его постоянно дорабатываю, хроники этого выкладываю на прогерский блог. А вот про финансы - набрал статистику за месяц без 3х дней. Очень хорошо видно куда и что уходит, что можно и не покупать вовсе, куда обычно утекают кровные. В общем думаю в скоре начну изменять повседневные траты по результатам ведения баланса. Если честно я охуеваю от полученных результатов (читать - от своих затрат), это стоит отдельной заметки.

На работе как-то гипергрустно. Все переходит в какое-то заброшенное болото. Нового мало, и подвижек как-то мало. То что называют "движение" - наверное просто шаги на месте, причем одна нога деревянная. Ну и хер с этим. Скоро, совсем скоро мы начнем менять. Все менять.

Обновил убунту, да какое это событие? утром первого мая сидел с бокалом вина и обновлял. Само обновление - обыденность, а вот процесс сидения в 7 утра, с сильного бодуна с бакалом вина, и настройка системы - счастье.

Ежегодное пиво с мясом на берегу Обского моря ранним утром первого мая провалилось. Провалилось что тупо не хватает народу который это проворачивал несколько лет. Все кто где сейчас, все занятые бляна. Все меняется бля, и бля не в лучшую сторону. Эту традицию решено было воскресить, но как-нить в другое время. И догадываюсь в другой жизни. Жалко.

Эпопея с пропиской. Продолжание. Том третий. В среду *должен* получить прописку. Если ничего не случится сверхестественного. 13го отдам документы на загран. Пока план такой.

В холодильнике моем затаился вискарь и вермут, а что еще нужно для прекрасной лени на выходных? Улыбаться!

{% endfilter %}
{% endblock %}
