{% extends '_post.html' %}
{% meta %}
  title: "6 мая"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

занимаюсь такой лабудой что просто хоть вешайся. а хуле последовал совету начальства "если оцениваешь задачу в 20 часов, то и делай ее в 20 часов а не в блять тридцать минут". ну мне понятна коммерческая выгода, но блять скучно от этого мне. конечно же с поправкой на ветер, на то что не моя тундра и олени, на то что приходится все изучать.

неделька какая-то ебанутая выдалась, нажраться захотелось в четверг, ну а как я могу отказать самому себе? правильно - никак, так что сижу вот сейчас и жду перезагрузки своего маленького мозга. матрикс забери меня!

эпическая история с пропиской закончилась. финал - счастливый и позитивный. наконец-то.

как приятно осознавать что все идет по плану, и только по-моему плану. тупо ставлю галочки на каждой строчке. скоро все будет ништяк.

{% endfilter %}
{% endblock %}
