{% extends '_post.html' %}
{% meta %}
  title: "12 июня "
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

* О выходных - не ожиданно вылез какой-то современный праздник - день рашы, на 14 число. Почему о нем никто не помнит, хотя он гос-ный? последние годы 14 июня все время выпадало на субботу-воскресение. Ну хотя бы в этом году бонус - следующая рабочая неделя на один день короче, а текущие выходные на один день длиннее.
* ЧМ, пока не везет со ставками. Кто ж знал что мексиканцы окажутся такими ватными. А франция отсосет уругваю. Никогда больше не поставлю на лягушатников, они пидарасы. Надеюсь на корейцев. Буду выходные проводить под футбол.
* Мне как-то на неделе захотелось сладкого. Купил печеньков с варенной сгущенкой внутрях. Счастье мое длилось не долго. Вместе со сгущенкой внутри была обнаружена плесень. Сладкого не захочу наверное еще с полгода.
* Че-то опять какие-то загвоздки с загран паспортом, сказали что еще за мой день не готовы. Скещаю пивные стаканы на удачу.
* На улице кстати лето полным разгаром, не радует мля. Куча насекомых, постоянно мокрый потный, глаза на лоб от духоты.. Зимой лучше. В снегах тихо, спокойно и холодно.

{% endfilter %}
{% endblock %}
