{% extends '_post.html' %}
{% meta %}
  title: "18 june"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Загран, н-на!! Сегодня, н-на!! и все пох-на!!

Все остальное - прямо лишнее, но хотя бы одной строкой

Злоебучий проект отправился в трубу - теперь мне хорошо, о да!

Стал больше пить пива - наверное из-за погоды, ночью хорошо. сижу ночами на лавочках в тишине, слежу за звездами, маленькая собственная вселенная. оч. приятно

Днем - преисподня, перед глазами огонь раскаленного асфальта, зомби бредущие по своим делам, воздуха нет, свежести и ветра нет. Подальше бы от сюда, туда где холодно

Жалко корейцев - аргентина была на высоте. Мексиканцы очень правильно вздрючили лягушатников, чтд. Германия очень непрятно удивила весь мир, мы забились на пиво что после чм должна в германии обязательно выйти гей-порнуха "все ебут клозе", пиком которой будет масс-гей сцена в раздевалке, снятая в онлайн с чм. Не менее удивили америконцы - команда SVN (так гораздо лучше звучит) показала где их место - в ж. В общем мне не везет со ставками - какой-то жуткий рандом происходит - короли проигрывают, зведзы сосут, моложедь всех хуячит, негры у всех сосут. ХБЗ кароче.

{% endfilter %}
{% endblock %}
