{% extends '_post.html' %}
{% block meta %}
  title: "27 июня "
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Неопределенная неделька вышла.

Работа не шла, то есть шла, но очень грустно и не интересно. Не ну конечно же я полностью все вырабатывал, все были счастливы, кроме меня :( Зато за неделю хорошо прокачал собственный старт-ап, скоро совсем скоро он выйдет в свет (если звезды будут светить ярко - то даже сегодня).

В середине недели умудрился простыть под дождем, из-за чего сел на колеса. Прочитал в интернете что содержимое колес (парацетомол и еще много чего другого) нельзя употреблять с алкоголем, вследствие - перестал пить пиво. Но состояние мое не улучшалось. Вечером субботы желание выпить пива пересилило все остальное, и я булькнул. Все было шикарно, печень не остановилась как было описано в интернете. Утром я проснулся - голова болела (о прекрасная похмельная боль), но никаких признаков простуды не осталось! Так что никогда больше не буду надеяться на фармакологию и современную медецину - народные рецепты (200гр для обогреву) всяко лучше и действенней.

Все сериалы были досмотрены до последних вышедших серий (naruto, bleach, fullmetal alchemist brotherhood, darken than black, house md), это меня растроило. По-этому чтобы скоротать время перешел на чтение манги - сейчас чиатю bleach - не жалею. Оказалось манга и аниме - тоже самое что книга и кино. Тем более в переведенной с японского на английский манге присутствует очень много жаргонной речи, что меня очень интересует, приходится частенько заглядывать в "urbandictionary":http://www.urbandictionary.com/.

{% endfilter %}
{% endblock %}
