{% extends '_post.html' %}
{% block meta %}
  title: "17 июля "
  tags: [ life, blog ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

В новосибирске душно, жарко и душно. Ну и что пасмурно. Все равно душно. Весь покрытый потом абсолютно весь.. не помню дальше.. крокодил не ловится, не растет кокос.. Спасаюсь холодненьким чешским! во всем нужно находить приятные моменты ^^

С утра занимался сайтом, уже полностью развернут на хостинге, сейчас идут косметические изменения и доработка welcome страницы. Да кстати абсолютно чудесный немецкий хостинг. 90 евро за год, с замечательным саппортом (как было зафиксировано мной "саппорт ответил на тикет быстрее чем закипел чайник"), и нормальными техническими показаниями. Домен правда не завел пока, но это гораздо просче и сделать можно за десять минут в любой дыре интернета. Так что скоро презентация, дорогие мои читатели :)

Меня посетила сегодня мысль, реклама делается вообще "не-клиенто-ориентировано". Предпосылки мои такие: сегодня выгребал новую порцию свежей прессы -из сливного бочка- из почтового ящика, увесистая такая кипа, грамм 300-400, и я это все не буду читать. Тупо с тумбочки (читать - микроволновки) все это переместится в мусорный пакет и будет увезено на городскую свалку. Вроде бы переработкой отходов у нас не занимаются. Ну не интересно мне что там написано, не интересна реклама пластиковых окон и аренды помещений. Соседям-пенсионерам - да интересно. Вся эта корреспонденция бесплатная. Но получается так что ради меня загубили какое-то деревцо, ради того что я вообще это не читал. Неадекватное расходование ресурсов. Скорее всего от этой услуги можно где-то отписаться, но потраченных нервов в очередях-кабинетах-бумажках тупо жалко.

Вот допустим меня очень интересует покупка ноутбука, хорошего, не-бюджетного. В газете есть огромный баннер рекламирующий магазин компов. За целый разворот рекламодатель отдал много денег. Я давно знаю про этот магазин, и скорее всего прийду за ноутом именно к ним, но мне реально похуй есть ли у них баннер в газете, которую я выкидываю в мусорку. Я тот целевой клиент который интересуется их товаром, а не старушки-пенсионеры, или продавцы в супермаркетах. Конечно же они могут интересоваться, но для них это будет разовая роскошная покупка, а я могу прийти не раз и не два. Про маркетологию ничего не знаю, но могу догадаться что различают одноразовых-залетных клиентов и постоянных. Если первых много, то будет много продаж и тд. Но расчитывать на них нельзя. Можно расчитывать на вторых.

Вообще лучшая реклама - это отзыв человека. Пример, в конторе человек купил себе мега-штуку - светоотраающую наклейку на лобовое стекло (чтобы солон меньше грелся пока машина стоит на парковке летом). Рассказал про это, через несколько дней у всех наших автомобилистов из комнаты были такие наклейки. Все могли узнать это из рекламы, но вряд ли бы купили. Нужно заметить - такая реклама стоит ноль денег.

{% endfilter %}
{% endblock %}
