{% extends '_post.html' %}
{% block meta %}
  title: "19 сентября "
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Нужно сюда написать, нужно, для галочки.

Был в отпуске, был целый месяц в европе. Бывал на "froscon":{{ get_url('blog/2010/08/27/froscon-2010/') }}, был в голландии на фестевале копченного угря, был еще где-то. Отдохнул, это да.

Сейчас аппатия, лень, делать ничего совсем не хочется, разучиться бы дышать - это дело очень сильно напрягает.

Активно еще работу за пределами рф, пока результатов нет, буду стараться дальше.

{% endfilter %}
{% endblock %}
