{% extends '_post.html' %}
{% meta %}
  title: "october 3 "
  tags: [ life, weekend ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

*Hello, Planet!*

Getting morning exercises - breakfast, beer, techno-music, and anime! Let's rock the world! Turn on your favorite music player to "http://aol.streams.bassdrive.com:8008/":http://aol.streams.bassdrive.com:8008 station, increase bass to infinite value, start watching "Ergo Proxy":http://en.wikipedia.org/wiki/Ergo_Proxy, and open a fresh bottle of beer.

{% endfilter %}
{% endblock %}
