{% extends '_post.html' %}
{% meta %}
  title: "10-10-10 "
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Сегодня 10.10.10, само по себе красивое число:
* Если число 101010 перевести из бинарной в десятичную систему счисления, то получится 42, что является ответом на главный вопрос жизни (автостопом по галактике). 42 это символ '*' в ASCII таблице.
* 10.10.10 должна выйти 10.10 версия Ubuntu (кодовое имя Maverick Meerkat).
* Это 9000 день моей жизни. Да вот такое совпадение. Some kind of birthday. Так что с днем рождения меня.


{% endfilter %}
{% endblock %}
