{% extends '_post.html' %}
{% meta %}
  title: "October 16"
  tags: [ "life", "friday" ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

я люблю людей, люблю когда их нет.. в большенстве своем люди - комки эмоций, взращенные на стеройдах эгоизма. смысла говорить, а тем более общаться с ними мало, точне если это не имеет коммерческой выгоды, очень мало. обожаю практиков. ненавижу теоретиков. первые не говорят, а делают. вторые - наоборот. хочу стать облаком, снимите с женщин майки, у меня все.

{% endfilter %}
{% endblock %}
