{% extends '_post.html' %}
{% block meta %}
  title: "November 31 "
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

"7мой прохожий - Сделайте громче" - эту песню слушали очень много раз подряд с Васьком в общаге ФМШ, нам так нравилось, соседи бесились (Шура, Митяй - привет!). почему? Мы слушали громко, это очевидно. Нам нравилось ее слушать потому что это мечты и реальность детства уровня десятого - одиннадцатого класса. Движняк, тусовка, громкая музыка, куча друзей.

Увы это проходит. Какие сейчас тусовки - вдвоем на кухне, иногда кто-то еще подъедит, или в баре в такой же обстаноке. Деньги счастливым не делают, они добавляют седых волос. В основном один выпиваешь и думаешь. Некому поплакаться о сложной жизни - у всех такая же. Хочу обратно розовые очки!

В пизду сентиментальности - завтра начнется дело.

{% endfilter %}
{% endblock %}
