{% extends '_post.html' %}
{% meta %}
  title: "November 28 "
  tags: [ life, weekend ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Ну вот походу заболел, второй день очень сложно встать, все тело болить как будто вчера была мега драка. Болит горло, сильно. Температура, походу, но чтобы не огорчаться я тестируюсь градусником. Второй день сижу дома, заправляюсь красным - прохладным и горячим (варю в турке глитвейн с апельсинами, корицей и гвоздикой). Есть не хочется - значит точно заболел. А мне хорошо, расслабон, хотя и такая больной расслабон и все болит. Алкоголь спасает.

В пятницу чуть почти сдури не купил Xbox и телевизор, очень хотелось погамать во что-нить современное. Ну и был смертельно пьян. Сидел смотрел ролики с youtube про модерновые игрушки, и в душе что-то завыло. Посмотрел цену, да бьет по лопатнику, но не на столько чтобы опустошить, там еще много (улыбаюсь). И почти-почти заказал, но потом протрезвел (где-то в 4 часа ночи), забил и уснул. Потом вот заболел. Но эту идею записал в список TODO, может быть еще срастется (улыбаюсь).

Вчера (в субботу) заходил мелкий, притащил винища. За что ему риспект и уважуха! Да и кстати, он притащил мерло, но не сладкое, __хуйегознает__ где он его достал (говорит что в *ТЦ* наразлив), но от него у меня нет изжоги (улыбаюсь). У мелкого как всегда дела идут по ломаной без пересечений с линией удачи. Пожелаю ему удачи. Еще смотрел последние аниме, еще несколько кинищев, в том числе *Космобольцев* "Spaceballs":http://www.imdb.com/title/tt0094012/ - фильм 1987 года, тогда мне был ровно 1 год, а уже бы такой отжиг! До сих пор смешного от него. Да, кстати, спасибо Степану за то что напомнил про этот мега фильмец.

Сейчас происходит странные вещи, кое-что ковыряю из хтмлных/джанговых сайтов (в стеке висит три сайта которые нужно сделать хорошим людям). Очень быстро понял что художник photoshop-а (если точнее gimp-а) из меня очень хуевый. А что я хорошо умею? делать 3Д.. а скриншоты со сцены никто не отменял (улыбаюсь). Закачал wings3d и blender - сейчас их смотрю. Расслабляю боль алкоголем. *Полцарства на красное*. Попал на ролики типа "head sculpt":http://www.blender.org/features-gallery/feature-videos/?video=head_sculpt. Слушаю "Ищу друга" от группы "Я и мой друг грузовик".

{% endfilter %}
{% endblock %}
