{% extends '_post.html' %}
{% block meta %}
  title: "December 17"
  tags: [ life, "friday" ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

покер, за столом был один из уволившихся некоторое время назад..
.. одна из первых рук ..
* (xxx) А вы все так же заполняете __[CENSORED]__ (систему отчета по отработанным часам)?
* (yyy) Да :(
.. когда этот человек поднял какой-то кон ..
* (xxx) ОО! я выиграл 50 рублей, еду домой на такси!
* (yyy) Наверное все-таки лучше ты сидел и заполнял __[CENSORED]__ (систему отчета по отработанным часам) и не радовался бы так 50ти рублям.
* (zzz) Ну ничего он каждую пятницу заходит подработать :)

{% endfilter %}
{% endblock %}
