{% extends "_base.html" %}

{% block head_main %}
  <link rel="stylesheet" href="{{ url_for('static/css/tomorrow.css') }}">
  <script type="text/javascript" src="{{ url_for('static/js/prettify.js')}}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('pre, code').addClass("prettyprint");
        $('pre code').removeClass("prettyprint");
        prettyPrint();
    });
  </script>
{% endblock %}

{% block style_main %}
  .content-title { display: block; }
  .post-title { margin-bottom: 25px; }
{% endblock %}

{% block content %}
  <div class="post-title">
    <h1>{{ entry.title }}</h1>
    <i>Published: {{ entry.date.strftime('%Y, %B %d') }}</i>
  </div><!--post-title-->
  {% block post_content %}{% endblock %}
{% endblock %}
