{% extends "_base.html" %}

{% block meta %}
  title: "About"
{% endblock meta %}

{% block style_main %}
.content-title { display: block; }
.site-header { display: none; }
.contacts { display: none; }
{% endblock %}

{% block content %}

{% filter textile %}
<img src="{{ url_for('static/ich_small.png') }}" alt="me" style="float: right; width: 160px; padding: 10px;" />

h3. A few facts about me

* My name is Alexey Vasilyev
* I'm 28 years old
* I was born in Chita, Russia
* I live in Tuebingen, Germany
* I speak English and Russian

h3. Subjects of interests

The most interesting subjects for me are the following:
* C++, Python
* Cross-platform programming (Windows/Unix/OSX/iOS/Android)
* Game Development
* Graphics and realtime rendering (via OpenGL/GLES)
* Web Development (via Django/Flask)
* NoSQL (via MongoDB)

I always like to tackle on:
* Performance optimization
* Scripting
* Algorithms
* Program architecture and estimations

<img src="{{ url_for('static/air_small.png') }}" alt="me" style="float: right; width: 320px; padding: 10px;" />
List of what I do everyday now:
* C++/OpenGL, Game Engine development
* Django/MongoDB

And if I have free time then I like to learn about the next:
* OpenStack
* Cryptography internals
* Functional Programming

Also I have a lot of experience in next topics:
* Windows programming
* C++ MFC/ATL
* .NET C#, WinForms and ASP.NET

h3. Contacts

* Tuebingen, Germany (GMT+1)
* e-mail: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#108;&#105;&#103;&#104;&#116;&#46;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#101;&#64;&#121;&#97;&#110;&#100;&#101;&#120;&#46;&#99;&#111;&#109;">&#108;&#105;&#103;&#104;&#116;&#46;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#101;&#64;&#121;&#97;&#110;&#100;&#101;&#120;&#46;&#99;&#111;&#109;</a> 
* GPG key id <a href="{{ url_for('/public.asc') }}">86CC7B3E</a>
* BitMessage: BM-2cUm5nxAgvG4ZEMLx8nw9hKSkuNhh4SBZa
* skype: inf_ra
* "github":https://github.com/alexa-infra
* "twitter":https://twitter.com/alexadotlife
* "xing":https://xing.com/profiles/Alexey_Vasilyev
* "linkedin":https://www.linkedin.com/pub/alexey-vasilyev/1b/528/b29

{% endfilter %}

{% endblock %}
