{% extends "_base.html" %}

{% block meta %}
  title: "homepage"
{% endblock meta %}

{% block style %}
{% endblock %}

{% block content %}
{% filter textile %}

h1. "alexadotlife.com":http://alexadotlife.com

h3. Online presence

* "Blog":{{ url_for('blog/') }} Blog about programming and my life 
* "LinkedIn":http://www.linkedin.com/profile/view?id=69978705 Social network
* "Github":https://github.com/alexa-infra Another social network
* "Twitter":https://twitter.com/#!/alexadotlife One-line blog
* "About me":{{ url_for('about/') }} A few lines about me

{% endfilter %}
{% endblock %}
