{% extends '_post.html' %}
{% meta %}
    title: "One life up"
    tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Have a long time no post in this blog. No, I have not abandoned this site. Yes, no free time to write something. Now I have enough time space to continue writing my thoughts :)

What was happened? Hard-hard-working of course, to raise a lot of money, to increase experience level, to make life interesting. During last year, the second part of it, I have relocated to Europe, to Germany. I passed a ton of bureaucracy blanks and checks. And I was successful. The bad thing is in that I have no legal work permit in Germany, and I have limited visa. But it can't stop me for work as outsources and freelancer. Job is an activity, and not a place. It is like a rest for me, and working as performer is very applicable. Life is a joy, and coding is my hobby and favourite activity. 

What is happening? As for programming, c++ is all for me now. I am very happy about that. My current job is a proprietary game engine, its products will be released soon - so more info in future (I hope). On opensource front I produce some experiments with Negine (my homemade game engine), have a lot of ideas to implement in nearest future. Current progress is not suitable for any usage, but I think about some real word applications on that engine. Also there is some stuff with python/django web development - I think I will release new site in this month (more info after release :D). And there is no more m$ft .net stack, as you can see - a lot of happiness!

I have a new tiny hobby - photography. It is not usual: low-res photos from mobile devices. Food and drinks, textures and crazy pics. Everything is posted in instagram, and cross posted to tumblr page, and stored in flickr. Have no idea why it is interesting for me. Checkout my photos here: "valexey.tumblr.com":http://valexey.tumblr.com Actually I do not like photography due to its limitations - camera weights and takes a lot of space in baggage, requires good charging source, need a computer to edit/post photos, bad pictures takes a lot of storage (and I am very lazy to do clean up).. Mobile produces low res photos, mobile is always in hands, it charges from any usb, gprs provides 24/7 online status, instagram and other camera software provides basic editing options. So forget about camera device.

Also I become true MAC user. I'm not a MAC freak. Win/MAC/Unix machines are around me ;) Will write about my mac experience in later posts.

Finally, happy birthday me, lol

{% endfilter %}
{% endblock %}
