{% extends '_base.html' %}
{% block meta %}
  title: "blog"
{% endblock meta %}

{% block style %}
  .content-title { display: block; }
{% endblock %}

{% block content %}
{% filter textile %}

Subscribe to blog timeline by "RSS feed":{{ absolute_url_for('feed.atom') }}

<div class="postlist">
{% set curyear = "" %}
{% for post in entry.children %}
    {% if curyear != post.date.year %}
    {% set curyear = post.date.year %}

h3. {{ curyear }}

    {% endif %}
    <div class="row">
      <div class="span2 offset1">{{ post.date.strftime('%B %d') }}</div>
      <div class="span4"><a href="{{ post.get_url() }}">{{ post.title }}</a></div>
    </div> 
{%- endfor %}
</div>
{% endfilter %}
{% endblock %}
