{% extends '_base.html' %}
{% meta %}
  title: "blog"
{% endmeta %}

{% block style %}
  .content-title { display: block; }
{% endblock %}

{% block content %}
{% filter textile %}

Subscribe to blog timeline by "RSS":{{ absolute_url_for('feed.atom') }} or by "Twitter":https://twitter.com/#!/alexadotlife

<div class="postlist">
{% set curyear = "" %}
{% for post in entry.children %}
    {% if curyear != post.date.year %}
    {% set curyear = post.date.year %}

h3. {{ curyear }}

    {% endif %}
    <div class="row">
      <div class="span2 offset1">{{ post.date.strftime('%B %d') }}</div>
      <div class="span4"><a href="{{ post.get_url() }}">{{ post.title }}</a></div>
    </div> 
{%- endfor %}
</div>
{% endfilter %}
{% endblock %}
