{% extends '_post.html' %}
{% meta %}
  title: "january 9"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

bq. Послушай, понимаешь ты превратился в свой собственный персонаж, это все равно как участвовать в маскараде и никогда не снимать маску, даже когда возвращаешься домой. Уходишь ночью, напиваешься, спишь пристроившись под машиной, возвращаешься с листьями в волосах, грязью на одной щеке ковыляешь на кухню. Давай действуй, пробей головой эту сцену – упади лицом в клавиши пианино – и увековечь это и свою преждевременную кончину, и парад уродов живущих по соседству.

> Billy's band

{% endfilter %}
{% endblock %}
