{% extends '_post.html' %}
{% meta %}
  title: "january 6"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

1:21AM сижу за десктопом, слушаю "сию красоту":http://www.youtube.com/watch?v=ALnvdOFKzDE, пью английский джин смешанный со швепсом. смешивал качественно, со льдом в шейкере. вкусно надо сказать. чтоб напиться хватит. сегодня проматывал время на работе. завтра ожидается абсолютно аналогичный день - переться в офис, погода за бортом около минус 35 цельсиев. потом 3 выходных.

{% endfilter %}
{% endblock %}
