{% extends '_post.html' %}
{% meta %}
  title: "Переезд"
  tags: [life, blog]
{% endmeta%}

{% block post_content %}
{% filter textile %}
Ну вот и начался переезд на новое место бложика. Давно пора. Все таки приятнее создавать, творить и созидать своими руками. Да и почти все можно реализовать самому, а не долго материться на противный движок блога.

TODO:
# експортировать посты со старых мест на blogspot-е
# -прикупить домен-
# -зарегать всякие аналитиксы-
# -прикрутить комменты-
# -rss-
А пока то что есть мне очень нравится, желание хозяина - закон.  
{% endfilter %}
{% endblock %}
