{% extends '_post.html' %}
{% meta %}
  title: "Сайт поставлен на рельсы"
  tags: [life, blog]
{% endmeta%}

{% block post_content %}
Суббота. Утренний шоппинг: покупка домена. Быстро и вкусно как оказалось. Теперь эти странички официально называются <a href="http://alexadotlife.com">alexadotlife.com</a>. Ну наконец та! Регистрировался на godaddy, домен в зоне com обошелся в 7.5 usd за год, терпимая цена, процедура прочтения предложений, опций и документации с заполнением форм заняло примерно час. Для себя все делаешь очень внимательно :) люблю себя любимого!
{% endblock %}
