{% extends '_post.html' %}
{% meta %}
  title: "Hiring spies"
  tags: [life, hire]
{% endmeta%}

{% block post_content %}
{% filter textile %}
Сегодня звонил телефон, в нем сказали что говорят со мной из небезызвестного хедхантерского IT агентства города Новосибирска. Распрашивали про мои предпочтения в IT деятельности, что устраивает, не устраивает, какая работа моей мечты. Между делом узнавали ищу ли я работу, точно хедхантеры. В оконцове предложили посетить какое-то мероприятие, но это так мелочи. 
Больше всего мне интересно откуда они надыбали номер моего телефона и знали имя-фамилию. 
# Понимаю что такую информацию можно преобрести за денежные знаки. Но чтобы в этой информации содержались данные о моей трудовой деятельности, это абзац. 
# Номер телефона конечно же есть в открытом доступе, находится в моем cv, которое лежит тут рядом. Но проблема в том что эта страничка не гуглится и не находится другими поисковиками, то есть попасть на нее можно только получив линку на сайт. нужно сказать что этой линкой владеют некоторые хед-хантеры, но увы не из этого города, и даже страны. Не думаю что хед-хантеры контактируют с зарубежными организациями.
# В публичных профайлах соц.сетей этого номера телефона нет и не было. Как то помнится ко мне долбились в друзья на linkedin-е сотрудники этой конторы, но они были посланы, то есть decline-ны.
# Когда-то давным я отправлял свое резюме в местные хед-хантерские конторы, но судя по всему у них все не сильно хорошо сейчас (так как про них ничего не слышно). Перерыл почту в поисках этих писем, нашел, проверил, в интересующую контору я никогда не отправлял заявок. Может быть базы были перекуплены? вполне.
# Конторы в которых я работал так же могли бы распространить эту информацию, а точнее ее продать. Централизованно, или тайно выкрадены недобросовестными сотрудниками. 
# Кто нить из друзей целенаправленно сообщил мои координаты. Ну это вообще смех, я не настолько большая рыба.

Самой реальное предположение откуда локальные хед-хантеры взяли мой телефон - это перепродажа баз сотрудников или баз данных резюме. Шпионы-сцуки. 
Так что с хед-хантерскими конторами лучше не связываться, они как риэлторы: пользы очень мало, зато есть спам.

*UPD* Письмо от них пришло, ну вообще..

{% endfilter %}
{% endblock %}
