{% extends '_post.html' %}
{% block meta %}
  title: "Первое марта"
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

__написал "Весна!" - по ебалу на!__ Такой вот замысловатой цитатой начался март. 

Что происходит:

# внезапно учинил уборку с тотальной перестановкой предметов интерьера. Получилось забавно и практично. 
# опять сбился режим сна, мучает сильная бессонница. организм радостно просыпается часов так в 6ть-7мь и спать обратно не хочет. даже если лег полупьяный в 4 __факт__
# подсел на аудиокниги. я под них шикарно засыпаю. слушаю фантастику, фентези с незамысловатыми сюжетами. Получается как сказка на ночь. В наушниках не очень слушать, уши болят утром, а вот на аудио системе на самой малой громкости само то. Плейеров с обратным отсчетом не нашлось, так же как и нормальных менеджеров аудио книг (ну хотя бы закладки кто придумал!), так что приспособился обычным rithmbox-ом - тайминг ограничиваю кол-вом треков в плейлисте (чтобы всю ночь не играла музыка).
# по утрам слушаю социальные и не очень подкасты на русском языке, таким образом узнаю новости (использую "podfm.ru":http://podfm.ru). На работе и вечерами меня втыкаются подкасты на английском на профессиональные темы. 
# наткнулся на "мега сайт":http://fucking-great-advice.ru/ поставил его стартовой страницой во всех браузерах, на всех доступных мне девайсах. Очень так стимулирует трудовую деятельность, когда спросони видишь надпись *Не тормози бля!*.
# мультики доставляют. *bleach* правда после фееричного финала скорее всего опять запустит филлеры года так на полтора-два (судя по манге). а вот *naruto* сейчас в самом-самом соке, с нетерпением жду каждую новую серию. неожиданно нормальным оказался простетский сериал *chuck* про обычных шпионов, достаточно веселый и наивный, но расслабить мозг им определенно можно.
# народ подбивает в геш сгонять, покататься. я ссу.
# с работой все плохо. Очень сильно активизировались локальные и российские хедхантеры, а вот забугорские учинили обед молчания. suxx короче.

{% endfilter %}
{% endblock %}
