{% extends '_post.html' %}
{% block meta %}
    title: "31 марта"
    tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

В этом месяце меня как-то не сильно вставляло на творчество в блоге, как-то больше на код пробивало вечерами. Исправляемся.

Приятно удивили хедхантеры - у них весна, новый сезон охоты. Как я узнал это связано ровно с одной вещью: многие конторы делают годовые бонусы или тринадцатую зарплату. Все излишки бюджетов, за которые нужно отчитаться пускаются в премии сотрудникам. Дележка шкур убитых мамонтов. Пока боссы подводят итоги, и прикидывают сколько заработают в следующий отчетный период, довольные сотрудники с полными карманами увольняются. Единоразавая куча денег стимулирует желание получать такую пачку всегда. Народ уходит. Без шуток, никто не волнуется, так как до отчетов еще далеко, а дела по-тихоньку делаются остатками производственного отдела. Кадровики и начальство начинают бить в бубен только к началу весны, когда темпы производства дают знать - тупо графики не укладываются. Как известно чтобы забить вакансию нужным кадром нужен не один день и даже не неделя. Так что примерно с марта у хедхантеров охота. Примерно такой же бум есть в начале лета, но связан он со студентами.

Еще один прикол на работе, опять же с хедхантерством, наша контора задумала расширяться. Новый город, новый офис, новые сотрудники. Отбирать по технической части нужно мне (одну из технологий). Причем набирать нужно не джуниоров, а очень опытных людей - уровня сеньора. Сложности в основном с человеческим темпераметром - чем человек опытней, тем больше он о себе мнит. Люди отказываются делать код, показывать свой код, выдвигают какие-то свои условия. Самое интересное - те кто больше кобенится, те пишут горздо хуже, чем те кто без вопросов выполняют требования. Мораль однако.

Подсел на сайт "goodgame.ru":http://goodgame.ru. Для меня главный рулез заключается в стримах, онлайн прохождениях игр. Видео с аудиокомментами игрока стримится. Я не очень люблю играть в игры, но иногда хочется посмотреть что да как. У меня вряд ли найдется время чтобы установить, причем под вайн, нормальную игрушку, а тем более играть в нее несколько дней-недель. А смотреть на игру профессионалов приятно. Как будто сам играешь. Например сейчас смотрю прохождение трилогии принца персии. Как сериал. Еще смотрел UFO: Enemy unknown (на западе известную как x-com), чуть не плакал, ностальгии был вагон - десткие воспоминания.

Серьезно перешел на тайм менеджмент, пока устроился в "strike":http://www.strikeapp.com - веду на его страницах todo листы для работы и других вещей, типа просмотра кинофильмов. Измеряю время которое трачу тулзами типа "onlinetimer.ru":http://onlinetimer.ru. Пока только положительные впечатления.

{% endfilter %}
{% endblock %}
