{% extends '_post.html' %}
{% block meta %}
    title: "MSVC Express"
    tags: [ c++, windows ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Я не поклонник платформы MS Windows, и вообще проприетарного софта. Но по долгу службы мне приходится разрабатывать программное обеспечение для винды. Ну и следует признать под винду единственное нормальное IDE для нативной разработки под c++, является MSVC. 

Лично мне очень нравится как IDE для плюсов QtCreator. Но работать в нем с winapi не сильно удобно. Ну и иногда (когда студия меня бесит) я использую просто текстовый редактор с подсветкой синтаксиса, скрипты cmake для билда, и windbg для отладки. Пытался использовать emacs и vim (которые так удобны в никсах), но под виндой они просто выродки.

В общем со студией мне приходится проводить много времени. Сегодня решил подвести черту для себя над использованием платных версий студии. Мне конечно же предоставляет софт компания, и он само собой, весь из себя лицензионный. Но вот для обычных смертных и стартаперов покупка MSVC ударит сильно по карману.

Так... вот официальная версия "сравнения всей линейки продуктов MSVC для c++":http://msdn.microsoft.com/library/hs24szh9.aspx И теперь мой вариант сравнения, уклон больше направлен в сторону лулзов Express версии.

* в экспрессе нет x64 компилеров. ну и ладно, большая часть программ - x86, а писать код совместимый с x64 можно и так.
* нет библиотек ATL/MFC. да и фиг с ними, все их библиотеки (с учетом x64 версий) весят 600+ метров. 
** на экспресс их всегда можно скопировать из prof-версии студии, прописать пути на хидеры и либы. нужно заметить что в настройках проекта опции mfc/atl не убраны. 
** нет редактора ресурсов. ну и слава аллаху! он такой бажный и неудобный. пишем ресурсы руками! компиллер ресурсов, нужно заметить, присутствует в экспрессе.
* нет openmp поддержки в компиллере экспресса. вы часто им пользуетесь? я - рееедко, но как-то было. как понадобится - что-нить придумаю.
* Graphical IDE. на WPF. тормозит. жаль что эту "фитчу" не убрали из экспресса!
* линкер, masm, nmake - есть везде. в экспрессе нету spy++, atltrace. погрустим, и не будем их использовать :)
* есть дебаггер в експрессе. да, большее мне и не нужно. черт с remote дебаггером, sql-дебаггером и статик-анализом (который супер бесполезный).
* приятно что есть редактор кода ^^
* считаю одной из главных фитч экспресса - отсутствие data редакторов и просмотрщиков.
* есть msbuild, полезная тулза.

Не понятно почему в обзор на MSDN не вошли главные мега фитчи экспресса:
* бесплатная (по сравнению с prof - $500, premium - $5k, ultimate - $11k)
* размер дистрибутива (70 мб для 2010), легко скачать
* памяти жрет меньше (так как нет бесполезных фитч)

Для себя вижу только позитивные моменты в использовании экспресс версии. И всем советую не покупать мега дорогие версии студии. 

P.S. пока писал понял что аналогичное сравнение можно провести и для C# версии. с аналогичными выводами.

{% endfilter %}
{% endblock %}
