{% extends '_post.html' %}
{% block meta %}
    title: "Слушаем музыку"
    tags: [ music, life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Настроение совсем не очень, так что очередной обзор музычки с ютуба (естественно под пиво):
# "Maximum the Hormone - What's Up People":http://www.youtube.com/watch?v=N332h6U-gEo просто обалденные японцы, играют что-то энергичное, тяжелое, а толстый тип с гитарой просто умиляет. да и кстати девочка на ударных отжигает нормально. главное - эти ребятишки делали саунд к аниме "Death Note":http://www.animenewsnetwork.com/encyclopedia/anime.php?id=6592. Бурные аплодисменты. По ссылкам с ютуба можно много интересных клипов банды найти.
# "Zapfenstreich Karl Theodor zu Guttenberg Deep Purple Smoke On The Water":http://www.youtube.com/watch?v=s0IMrZuhI7E это хит недели. в исполнении немецкого оркестра. Лежал. Классно! нужно этим типам заказать Feuer Frei!
# "ZORGE":http://www.youtube.com/watch?v=Ig6rSO22SvU назовите 10 отличий от текилы? не найти, черт-с-нах, так как это именно наш любимый tequilajazz и есть. Пусть они там называют это другим словом, говорят что другая банда, но текилу просто так не стереть с усов. Она жива.
# "22-20s - Such A Fool":http://www.youtube.com/watch?v=6-JbrIPgIYc саундтрек к рок-н-рольщику, замечательный фильм надо сказать, атмосфеный. ну а песня, про неудачников в стиле "now i wanna be your dog"
# "The Subways - Rock & Roll Queen":http://www.youtube.com/watch?v=lLZvJ_rtZO8 майн-саунд к рок-н-рольщику.
# "Hadouken! - Mic Check":http://www.youtube.com/watch?v=gnYeQx5-0t8 Любимая с недавних пор песенка из плейлиста для преодолевания пути до офиса. Что-то есть в ней такое, наверное просто ритм.
# "Hadouken! - That Boy That Girl":http://www.youtube.com/watch?v=CgGItLYyBQ0 Тоже ритмичная и злая мелодия.
# "Hauduken! - MAD":http://www.youtube.com/watch?v=PcMuVL6173g ну это крайне злая, порой (и даже очень часто) бываю точно таким же джерри :)
# "Каста - Метла":http://www.youtube.com/watch?v=PMJHJPllYIs если взялся за реп, то вот очень качественный. Видео просто классное, обязательно к просмотру "видео про его съемки":http://www.youtube.com/watch?v=E5H_1p-gE7I (интереснее смотреть после клипа). 
# "Каста - Закрытый космос":http://www.youtube.com/watch?v=Cxvh9qwSqLQ Нравится, очень. 
# "Sak Noel - Loca People":http://www.youtube.com/watch?v=mwq-T2CrJRU What the fuck? Клубнячок такой, простенький. Понравилось что голландский, ибо имя пиздец типичное голландское.

{% endfilter %}
{% endblock %}
