{% extends '_post.html' %}
{% meta %}
    title: "Lifehacks"
    tags: [ life, lifehack ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

У меня накопилось несколько лайфхаков, просто чтобы расширать (жизнь opensource):
* когда идешь в продуктовый магазин за покупками на след. неделю - будь сытым.
* если нужно сделать что-то необязательное - нужно поесть (завтрак/обед/ужин) в этом необязательном месте или возле него, будет стимул до него дойти.
* хочешь выспаться - выключи мобильник, городской, скайп (или вообще потуши комп), звонок на двери, закрой окна.
* увидев незнакомый номер в телефоне - сборсить, если перезвонят - тогда поднимай
* если ждать кого-то в неопределенное время в неизвестном месте - зайти в ближайшее кафе и пить самый дешевый кофе (другой напиток). коротает время.
* как определить обновляется ли ассортимент в магазине
** если в сигаретах есть старый West, то нет (west выпускают в совсем другой пачке, и по совсем другой цене)
** если в начале полке лежат вчерашние продукты, а дальше сегодняшние (быстро портящиеся продукты)
** ценник распродажа (нужно сначала посмотреть срок годности)
* покупать продукты которых меньше чем остальных на прилавке (их тупо разбарают быстрее)
* для долго срочного использования (неделя, две) отдавай предпочтение тому что можно засунуть в морозилку
* перед поездкой в незнакомый город - протрейсить онлайн карты (гугль, яндекс) на планируемый маршрут - где какие переходы через улицы, мосты, где магазины и кафе. ориентировать легче.
* покупать билеты онлайн на все (самолеты, поезда, электрички), много где можно регистрироваться онлайн, и получать билеты в кассах самообслуживания. нет очередям с необразованным рабочим классом.
* в незнакомом городе чтобы сориентироваться и не попасть на глаза гопоте (таксистам, ментам и прочим), нужно обозреть ближайщую остановку общественного транспорта, встать где-нить с краю (например покурить) и просто тупить в проезжающий транспорт. за несколько минут можно определить популярные маршруты и изучить направления, читая вывески на машинах. через минут 20-30 уже будешь почти местным и можешь садиться в нужное направление. тоже самое относится к метро.
* возьми книжку блять в дорогу, будет намного полезней
* забудь про бумажные и металические деньги - максимально пользуйся карточками
* лучшее средство от изжоги - жвательная резинка (а че, стабилизирует кислотность)
* лучшее средство от похмелья - две раздавленных таблетки аспирина (цитромона), 5 грамм лимонной кислоты, щепотка соды, вода - перемешать в стакане (в обществе необразованного рабочего класса это называется алкозельцер и продается за гигантские деньги)
* иногда против похмелья работает таблетка аспирина (цитромона) перед сном
* самое лучшее с похмелья - помыть голову, хоть на человека пожим быть
* хочется продуктивности - ходи обедать в присутственные часы в офисе (это время самое не продуктивное, тк все бегают и пиздят)

{% endfilter %}
{% endblock %}
