{% extends '_post.html' %}
{% block meta %}
    title: "July, 10"
    tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Несмотря ни на что, сегодня выдался нормальный денек. С утра попал на стрим игры GoW3, и казалось бы должен был протупить у компа до вечера, но все сложилось по другому.

Каким-то странным образом глаз пал на уборку и на кучу бесполезных вещей. В итоге было собрано несколько больших пакетов бумажек, коробочек, всякого говна. Например в топку пошли все CD/DVD диски. Я просто не смог вспомнить когда последний раз слушал музыку с дисков, когда загружал софт и смотрел фильмы с этих бесполезных носителей информации. В десктопе даже нет сиди-двд привода (где-то валяется в коробках). Даже операционки устанавливаются с флеш-дисков. Один внешний диск заменяет 5 кг сиди дисков. Все это время гремел в компе стрим - онлайн, все через интернет.. Резервное копирование? несколько компов, несколько дисков, норм все. Аудио - loseless форматы рулез, даже простой mp3 нормально качается-копируется-слушается. Жалко конечно же, столько денег было потрачено на них в свое время, за некоторыми приходилось носиться, покупать лицензии. Ладно с этим, так что все в топку, освобождается место. 

Потом неожиданно сгонял в мазаг, даже не раз, затарил продуктов, заполнил холодильник. Воскресил чистоту в унитазе (да-да, я сделал это). Заебенил пиццу из копченностей с гигатским колвом сыра. Потом воскресил чистоту посуды. Пожрал наконец-то.

И на этом стрим игрушки закончился, интересный был. Красивая, обалденная графика. А у меня кончился к этому моменту энтузиазм, завалился на диване и пишу этот крайне бесполезный текст просто для того чтобы что-то написать. Написал, вот.

{% endfilter %}
{% endblock %}
