{% extends '_post.html' %}
{% meta %}
  title: "Утро 6 сентября"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Утро задолось нормально. Прохладно при пробуждении, но за окном вроде бы тепло (9.6°C). Проснулся долго тупил, нашел по линкам блог знакомых, которые сейчас "отдыхают в Тайланде":http://septemberinphuket.blogspot.com/, долго и интересно читал. Других новостей оказалось мало, оставил на потом. Потом заварганил кофейка, поставил вариться перловку и вдовесок к ней тушенку (удалась!). Уф, наши оказывается порвали Лихтенштейн, сообщается в новостях. Qt имеет потрясающий блог, постоянно смотрю его, сегодня там интересные презентации, что-то об отрисовке, смотрел и наслаждался. Нужно бы установить их QtCreator на линух, под виндой уже использую.

{% endfilter %}
{% endblock %}
