{% extends '_post.html' %}
{% block meta %}
  title: "День 6 сентября"
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Сегодняшний день в календаре безусловно должен называться Днем Джинс! У меня опять появились новые Джинсы! Участник Международной Конференции (жена Ольга) подшивает их в данный момент. Плохо только одно - судьба этих джинс предречена заранее, через два месяца они пойдут в топку, так как абсолютно точно протрутся в нескольких местах. По-этому их стоимость что-то около 600 рублей, т.к. покупать более дорогие штаны, которые и так на мне протрутся (а это неизменное правило, не зависящее от стоимости) - просто ошибка. Если бы ателье брало меньше денег за подшивку - то Участник Международной Конференции сейчас бы не страдал, а так платить половину стоимость штанов за то что их подрубят и подошьют - жаба давит и меня и жену. Значит сегодня - День Джинс!

{% endfilter %}
{% endblock %}
