{% extends '_post.html' %}
{% block meta %}
  title: "16 сентября"
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Противный мелкий дождь звучит как черт послал.. Отсутствие зонта заставило пользовать сервис такси чтобы добраться до дома. В целом скучно, очень, азарта нету. На работе сдохли наушники, точнее почти полностью не звучит левое ухо. По-этому болит мозг и складывается ощущение половинчатасти вселенной. Пропадал эффект стерео. Оказывается полуфабрикатные котлеты нужно размораживать перед тем как готовить, круто. 288 непрочитанных постов в гугл-ридере за день! Это будет долго, надеюсь что-нить интересное там будет. Оплачивать интернет через визу - это сухо, комфортно и удобно! Заценил сей сервис, очень круто, учитывая что интернет бы кончился через час и пришлось бы шлепать под дождем до пункта оплаты. Японские мультики - это нечто! я скоро заговорю по японски, т.к. некоторые фразы уже звучат в голове. Вроде бы сегодня была среда, середина недели, ну да и ладно. День будет все равно провозглашен Днем Победы Над Осенью карточкой Виза!

{% endfilter %}
{% endblock %}
