{% extends '_post.html' %}
{% meta %}
  title: "18 сентября"
  tags: [ life, "friday" ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

День не сложился, карта в покере не пришла, ой как не пришла, так что даже проиграл на каре (выпало каре на восьмерках на стол, после последней восмерки мой хулхауз с десятками смотрелся не очень). Чувствую себя неудачником ;) Да и нас рать. Будет Мексика, будет текила, будет море, будет интересная работа. Пусть я даже не Бендер, но сказать всем __Kiss My Shiny Metal Ass я могу__!! У меня будет собственное казино с блекджеком и шлюхами! Rammstein порадовал от души, наверное самое веселое что сегодня "попадалось":http://visit-x.net/rammstein/. __You've got a pussy, i have a dick, so what's the problem, let's do it quick!__ Пятый раз слушаю, хотя видео тоже очень как всегда заводное. Так что хвала всем подземным богам, барным эльфам, гномам и феям! *Thanks God It's Friday!* День Победы Над Неделей! всяко.. *So what's the problem???*

{% endfilter %}
{% endblock %}
