{% extends '_post.html' %}
{% block meta %}
  title: "17 сентября"
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Неделя не задалась, явно. Устаю от скуки. Еще не хватает присутствия жены. На улице мокро и холодно, типа классическая осень. Она побеждает. Из-за непонятных явлений в теплопроводности хрущевок дома ужасно холодно, хожу в свитере, из тапочек не вылезаю. По прогнозу батареи потеплеют не скоро. Необходимо что-то придумать против этого. Нужно будет сегодня сделать что-нить позитивное для мозга. Включил какой-то термоядерный фильм, новая графика, хорошие актеры, музыка. Фантастика, я это обожаю, интересные версии будущего, высокотехнологичного надо сказать. Сегодняшний день назовется - Простой Четверг.

{% endfilter %}
{% endblock %}
