{% extends '_post.html' %}
{% meta %}
  title: "25 сентября"
  tags: [ life, "friday" ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Пятница. Удалась. Очередная неделя пала, я в команда победителей. Много занимались спортом, в результате - я в выигрыше достаточно нормальном. Так как ничего интересно-полезного за неделю толком не произошло, постараюсь это что-то провернуть на выходных. В пятницу, по слухам, было 50летие нгу, был концерт и фейрверк. Это было пропущено. Ну и ладно, не велико событие.

{% endfilter %}
{% endblock %}
