{% extends '_post.html' %}
{% block meta %}
  title: "21 сентября"
  tags: [ life, spam ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

бесподобный спам пришел на почту: 

bq. например "До мажор" (С-dur), "фа-диез мажор" (Fis-dur)креветка detz582we Не шумите... (Талль Константин) креветка хозяйстве, целлюлозно-бумажной Северный филиал, г. Петрозаводск Дай мне! Стихи и песня. cgsv353hk это вовсе не разница между розничной ценой в магазине и часто с металлическими тарелочками czth470gd старушки резко изменили приоритеты с обсуждения поведения соседских подростков как глубокой музыкальной выразительностью лесистыми

{% endfilter %}
{% endblock %}
