{% extends '_post.html' %}
{% meta %}
  title: "29 сентября"
  tags: [ life, hire ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Про то как работают наши it-кадровые агенства. Сегодня пришло письмо из одного кадрового агенства. Типа "тырым-пы-пым вакансия номер 364". По архиву почты (благо гмайл позволяет) было восстановленно следующее - заполнил анкету на сайте агенства 2.5 года назад, всего мне было прислано 5 сообщений об новых вакансиях на мою тему, первое письмо об открытой вакансии называется так "тырым-пы-пым вакансия номер 251" и датируется августом 2007. Получается что за 2 года данный кадровый центр обработал 113 вакансий, и пять из них были по моей специальности. Насколько я знаю, в новосибирске порядком открытых вакансий в it-компаниях, даже в период крызысного спада - можно было найти местечко чисто по объявлениям. Цифра 113 не может отражать количество вакансий отрасли в городе. Она может говорить только о качестве данного агенства. Вот такое вот плохонькое агенство. Да и сайт у них отстой: кодировка koi8-r. Самое интересное - что поиском вакансий сейчас не занимаюсь. День Лодырей IT.

{% endfilter %}
{% endblock %}
