{% extends '_post.html' %}
{% meta %}
  title: "30 сентября"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

День Озарения и Ностальгии. Нас с женой жестко осенило - есть локалка между ноутом и десктопом, есть скачанные HeroesOfMightAndMagic3. Почему мы раньше до этого не дошли?! кароче минус 4 часа вечера, союзниками играили на xl карте.. недоиграли. Но время весело провели. Как раньше - всю ночь на пролет, на одном компе втроем гамаем в Героев2 !! Вот были времена, эх. Еще на улице весь день стояла супер осенняя погода, очень красиво.. а нужно работать.. а на выходных по статистическим предсказаниям - будет дождь.

{% endfilter %}
{% endblock %}
