{% extends '_post.html' %}
{% meta %}
  title: "6 октября"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

singleline: я люблю людей, люблю когда их нет. вокруг все как общественный wc. ничего святого, одна скука. какое-то "депрессивное радио":http://streamer-mtc-aa05.somafm.com/stream/1018, по настрою очень напомнило: "В эфире радио Депрессия! Мы приветствуем всех наших друзей-самоубийц, решивших уйти из жизни этим прекрасным мерзким вечером." (спасибо Дане Ш. за эти строки). о мексика, как мне тебя не хватает.

{% endfilter %}
{% endblock %}
