{% extends '_post.html' %}
{% block meta %}
  title: "17 октября"
  tags: [ life ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Был термоядерный день. Началось все с того что мы проснулись после пятницы. Хотелось погулять. Мы не были в заведении под названием Мега. Изучили маршруты движения, прикинули как до него добраться. Не долго думая воспользовались общественным транспортом и в одну пересадку через ОбьГЭС мы добрались до пункта назначения. Примечательно то что когда мы проезжали через вышеозначенный район в голове вспоминался великий фильм Eurotrip - конкретно сцены Братиславы. Не хватало только саундтрека "Вставай страна огромная..", все остальное было как в том фильме. Дыра одним словом, упадок цивилизации, полуразрушенные строения. Ничего не имею против, только еще раз убеждаюсь куда катится эта страна. 
И так, мы в Меге. Это огромное, очень огромное помещение, полностью забитое магазинчиками и магазинищами. Ну и всякие там кафешки и т.п. радости. Общее ощущение - не интересно. Практической пользы очень мало, т.к. на прилавках все однообразное, и цены не отличаются от остальных мест. Полазили по ИКЕЕ, это да - великое произведение маркетологов и экстрасенсов. Такой большой лабиринт из мебели и товаров для дома, дорожки очень сильно петляют, приходится ориентироваться по стрелкам и миникартам помещения. Все устроено таким образом что если ты туда зашел то должен пройти полностью все стойки и ряды товаров. Обмануть систему сложно. Очень неприятно стало когда мы поняли что шариться уже надоело, а где выход мы не знаем. Проходя мимо прилавков любому человеку что-то да приглянется. Приглядываются обычно очень дешевые весчи. Не прикольно кароче. Хотя готовые интерьеры там очень интересные. 
Обедали мы в какой-то итальянской забегаловке. Обожаю лазанью. Попали под акцию "любое блюдо за 1 руб.". После 4х часовой прогулки мы залезли в автобус и двинулись в район площади Калинина. Там нас ждали друзья. Мы засели в пабе Beerlin и просидели там весь вечер. Очень интересный паб, именно паб. Домой приехали на дико дорогом такси уже в третьем часу ночи. Хороший был день. МЕГА-день :)

{% endfilter %}
{% endblock %}
