{% extends '_post.html' %}
{% meta %}
  title: "30 октября"
  tags: [ life, "friday" ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Сегодня день "thanks God it is friday". Немного предыстории: 25 октября когда вся страна переводила часы на час назад, я за утренним чтением прессы через Google Reader осознал что нужно сесть на диету. Да, я много вешу, да, я такой. Опять же google search - и я нахожу что мне в тот момент нравилось - супер диету. После смеха, надсмешек и упреков, убер-деитолог Освенцимского концлагеря (Auschwitz-Birkenau) постановил что все таки надо сесть на эту диету. 
Сразу обмолвлюсь - это жесть. Нельзя есть ничего, кроме кефира - 2.0-3.0 кг кефира в день. Первый день был проведен нормально. Хотя были непонятки с конторским обедом от которого я отказался. Как ни странно кефир перебивает жажду еды. Я это понял, причем сразу. Больше 0.5 кефира выпить не получается. Насыщаешься, есть не хочется, это правда, только слабость дикая, очень - как будто свиной грипп или что-то типа того. Кароче, все двигалось нормально. Спасибо моему самой родному и близкому человеку на земле - жене Оле - мы проводили вечера без ужинов под муз.спец.эффекты третьих героев. Было очень супер. Отвлекает от всего :) 
Но наступил великий День четверг - мне опять погрустнело на работе. 30 минут пешей дороги домой меня навели на глубоко философские мысли. В общем говоря, я понял в чем бытие моей локальной вселенной, то что я реально могу воздействовать на нее. В пятницу, то есть сегодня, я проснулся с дикой мыслей - не могу я жить на жидкой еде! хочу твердого! кароче - перловка варящаяся 40-45 минут возбудила во мне жизнь! Но особенности работы как всегда все загубили. В следующий пдн я однозначно иду опять в столовую. Что я понял о своем питании: нужно однозначно 3х разовое - причем с утра нормальная каша и т.п., в обед - полный ассортимент, на ужин - любая низкокалорийная халява. 
Так как рабочая часть пятницы прошла отвратительно, хотя меня и назвали сегодня "King" (от немалозначительного человека надо сказать пришла хвала), я решил плюнуть на все и заняться оттягаловкой. Ведь сегодня "Halloween"! надо сказать замороженная водка-желе это нечто межпространственное, этим точно можно взрывать мир. Кароче, моя диета закончилась для меня двумя уроками: 1. я могу не есть 4 дня 2. нужно питаться лучше. Я сейчас в ауте, мне хорошо в принципе. Наверное после такой истории можно истинно заявить - "thanks God", потому что "IT IS FRIDAY!"

{% endfilter %}
{% endblock %}
