{% extends '_post.html' %}
{% block meta %}
  title: "6 ноября"
  tags: [ life, "friday", music ]
{% endblock meta %}

{% block post_content %}
{% filter textile %}

Смотрел youtube на тему клипов и песенок, вот что посмотрел за сегодня (в тему пятницы естественно): 
* "KORPIKLAANI - Vodka":http://www.youtube.com/watch?v=e7kJRGPgvRQ Замечательная песня, после нее мне всегда хочется налить и жить :) 
* "Psychostick - BEER!":http://www.youtube.com/watch?v=O-jOEAufDQ4 Забавная песенка Beer is Good 
* "Beer Beer Beer":http://www.youtube.com/watch?v=YTxINWXNrPA Ultimate песня про пиво, наверное лучшая. I like drinking beer, lovely lovely beer! 
* "SWASHBUCKLE - Cruise Ship Terror":http://www.youtube.com/watch?v=53A4GyB96RI Очередная Пиратская, в антураже надо сказать. Жирный солист-пират прямо из Ада. Борода у него отменная. Флаг в конце - хочу такой же. 
* "Trollhammaren - Finntroll":http://www.youtube.com/watch?v=w_3bEj2Mdqo Не умирающая тема. Услышал в первый раз очень давно. 
* "Metallica - Whiskey In The Jar":http://www.youtube.com/watch?v=7oKLq1JD3vU Классика жанра. Исправляет хандру и депрессию. Всегда мне помогало. 
* "Korn-One":http://www.youtube.com/watch?v=VmMlMsqjcT4 Корн переплюнул авторов. Одна из любимых песен по звучанию и драйву. Укороченная версия (против оригинальных 10 минут), с термоядерным зарядом на "Darkness imprisoning me, all that I see absolute horror" 
* "По Шпалам - Ты Физик":http://www.youtube.com/watch?v=oiPCSdSsbKg Патриотично, позитивно, правдиво, так как НГУ ФФ. Наш КВАНТ. Да, я физик. 
* "Otep - T.R.I.C":http://www.youtube.com/watch?v=0epEAyyzyyA Хороший голос. Особенно для бабы. 
* "Otep - Breed":http://www.youtube.com/watch?v=37ncqG_AoJk Ух ты, довольно качественно перепели Курта.. и клип хороший

{% endfilter %}
{% endblock %}
