{% extends '_post.html' %}
{% meta %}
  title: "27 ноября"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Ничего так не бодрит, как трезвонящий телефон рано утром, с каким-то веселым и жизнерадостным вьетнамцем-корейцем-ипонцем-херзнает-кем на обратном конце провода. Интересно, поняло ли звонившее существо хотя бы чуточку моего негодования?! Ни на один из знакомых мне языков речь не походила. Оно звонило и звонило, вопя в трубку что-то непонятное, но явно радостное, а я все придумывал и придумывал новые маты, ругательства и проклятия. За незнание английского пора уже расстреливать! Но я проснулся ;)

{% endfilter %}
{% endblock %}
