{% extends '_post.html' %}
{% meta %}
  title: "28 ноября"
  tags: [ life ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

Ленивый день, выспался зато. Неделя адская просто была. За такой труд люди должны получать по две пачки молока ежедневно, как на ядерной электростанции. Параноя достала, мне постоянно кажется что за мной следят. Поменял пароли на основных ресурсах в сети. Нужно изучать пхп и пайтоновский джанго, не могу определиться что более нужнее. И немогу определиться что именно делать. Нужно посмотреть какой-нить фильм про зомби

{% endfilter %}
{% endblock %}
