{% extends '_post.html' %}
{% meta %}
  title: "19 декабря"
  tags: [ life, music ]
{% endmeta %}

{% block post_content %}
{% filter textile %}

просто термоядерный уличный музыкан Scott Dunbar аля 'One Man Band Singing' из Монреаля, производит очень качественный звук, который мне нравится. Инструменты особо хороши, особенно бочка.

просто термоядерный уличный музыкант
* "Tinfoil Hat":http://www.youtube.com/watch?v=w8MJ7wlPE2E
* "че-то из Michael Jackson-а":http://www.youtube.com/watch?v=JghgJToVP00
* "Wagon Wheel":http://www.youtube.com/watch?v=TrrZI-dDurw
* "I wanna be your dog":http://www.youtube.com/watch?v=f4D-Q7KOXo0

{% endfilter %}
{% endblock %}
